@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
  --header: 'Fredoka One', cursive;;
}

body {

  font-family: "Montserrat", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  padding: 0;
  margin: 0;
  
}
