@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");

:root {
  --header: "Fredoka One", cursive;
  --text: "DM Sans", sans-serif;
  --card: "Fredoka", sans-serif;
  --theme: rgb(230, 98, 59);
  --default: rgb(170, 64, 240);
  --environment: rgb(4, 199, 118);
  --gender: rgb(199, 4, 140);
  --medical: rgb(0, 217, 255);
  --education: rgb(255, 162, 49);
  --headerColor: rgb(70, 59, 59);
  --backTheme:  rgba(216, 214, 209, 0.425);

}

.qrcode .header{
  display: block;
  position: relative;
  font-size: 50px;
  letter-spacing: 1px;
  width: 100%;
  font-family: var(--header);
  color: rgb(56, 46, 46);
  font-weight: 500;
  margin-bottom: 0 !important;
      text-align: center;
}

.qrcode .qr{
  width: calc(20% - 0px);
  height: auto;
  margin: 60px auto;


}